hidden = ["target", ".cargo"]
modules = ["rust-stable:v4-20240117-0bd73cd"]
run = "cargo run"

[nix]
channel = "stable-23_11"

[gitHubImport]
requiredFiles = [".replit"]

[deployment]
run = ["sh", "-c", "cargo run"]

[objectStorage]
defaultBucketID = "replit-objstore-2b4fb957-0729-4da1-8bc7-cf3f2102d189"
